body {
    display: flex;
    flex-direction: column;
    align-items:center;
}

h1 {
    font-size: 5em;
}

div {
    text-align: center;
}


#headshot {
    height: 400px;
    width: 200px;
}

.contact_info {
    background-color: aliceblue;
}



/*
Size Units: 
px (pixels), 
em, rem -> relative sizes to the default font settings of an element (em stands for element units)
% (percentage), -> relative to the parent element it is in
in, cm, 
vh, vw -> relative to the entire website
*/

/*
Box Model:
It goes:
Most Outside:   Margin -> this is the distance of the element from other elements; pushes other elements away from the specified element
Middle:         Border -> Outside outline of the space of the element
Most Inside:    Padding -> Distance from of the element from its border; can be specified as one number: same padding all 4 directions; two numbers: first number is padding up and down second number is padding left and right; four numbers: padding goes top, right, bottom, left
*/

/*
An id attribute helps you specifically style one element. To specify an id in CSS, start with # before the id
A class attribute helps you style more than one element. To specify an id in CSS, start with . before the class
*/