.work-history-item {
  border-color: rgb(238, 238, 248);
  border-width: 1.5px;
  border-radius: 13px;
  padding: 10px 25px 10px 10px;

  display: grid;
  grid-template-columns: 150px auto auto;
  grid-template-rows: 120px;
  gap: 50px;

  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
  will-change: transform, opacity;
}

.work-history-item-hidden {
  transform: translateY(60px);
  opacity: 0;
}

.work-history-item-visible {
  transform: translateY(0);
  opacity: 1;
}

.work-history-item-logo {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: center;
  justify-self: center;

  height: 60px;
}

.work-history-item-text {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: center;
  justify-self: start;

  display: flex;
  flex-direction: column;
}

.work-history-item-text-position {
  font-weight: 200;
  font-size: 18px;
}

.work-history-item-text-description {
  font-weight: 100;
  font-size: 15px;
}

.work-history-item-dates {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: center;
  justify-self: end;

  font-weight: 200;
  font-size: 18px;
}
